@import '../../bower_components/material-colors/dist/colors.scss';

:host {
  display: block;
}

@media (min-width: 640px) {
  .content {
    margin: 0 auto;
    max-width: 640px;
  }
}

.board {
  margin: 16px;
  game-board {
    width: 200px;
    height: 200px;
  }
}
