@import '../../bower_components/material-colors/dist/colors.scss';

:host {
  display: block;
}

core-header-panel {
  background-color: $md-grey-100;
}

core-toolbar {
  background-color: $md-cyan-400;
}

paper-fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.card {
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
}

.content {
  padding: 16px;
}

.board {
  margin-top: 8px;
  .row {
    width: 220px;
    float: left;
    clear: both;
    .cell {
      width: 18px;
      height: 18px;
      background-color: $md-amber-300;
      margin: 1px;
      float: left;
      &:hover {
        margin: -1px;
        width: 22px;
        height: 22px;
        border: none;
        background-color: $md-amber-800;
      }
    }
  }
}
