:host {
  display: block;
}

.board {
  .row {
    width: 220px;
    float: left;
    clear: both;
    .cell {
      width: 18px;
      height: 18px;
      border: 1px solid #000;
      float: left;
    }
  }
}
